.container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    background-image: url(Group\ 4.svg);
}
<<<<<<< HEAD

=======
>>>>>>> 154acb5a765f55534f2b956975d4ba9e3b80e1da
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 20px 0 40px 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.headline-section {
    display: flex;
    flex-direction: column;
    background: url(./images/header-shapes\ mobile.svg) no-repeat;
    height: 100vh;
}
.headline-content {
<<<<<<< HEAD
    padding: 0 20px;
=======
  padding: 0 20px; 
}
.logo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 12px;
>>>>>>> 154acb5a765f55534f2b956975d4ba9e3b80e1da
}
.menu-icon {
 position: absolute;
 margin-right: 10px;
}
.menu {
<<<<<<< HEAD
    color: green;
}

.spacer {
    flex: 1;
=======
 color: green;
}

.spacer {
  flex: 1;

>>>>>>> 154acb5a765f55534f2b956975d4ba9e3b80e1da
}
.img1 {
<<<<<<< HEAD
    max-width: 30%;
    height: auto;
    height: 24px;
    float: right;
    margin-right: 20px;
=======
 max-width: 30%;
 height: auto;
 height: 24px;
 float: right;
 margin-right: 20px;
>>>>>>> 154acb5a765f55534f2b956975d4ba9e3b80e1da
}
.h1 {
 color: #172B4D;
 font-family: Poppins;
 font-style: normal;
 font-weight: 700;
 font-size: 40px;
 line-height: 52px;
}
.p1 {
  color: #344563;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.h2 {
<<<<<<< HEAD
    color: #7F8CFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
=======
  color: #7F8CFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
>>>>>>> 154acb5a765f55534f2b956975d4ba9e3b80e1da
