.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  background-image: url(Group\ 4.svg);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin: 20px 0 40px 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.headline-section {
  display: flex;
  flex-direction: column;
  background: url(./images/header-shapes\ mobile.svg) no-repeat;
  height: 100vh;
}

.headline-content {
  padding: 0 20px;
}

.menu-icon {
  position: absolute;
  margin-right: 10px;
}

.heading1 {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
}

.paragraph1 {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.lets-connect {
  color: #7f8cff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social-media {
  display: flex;
  width: 170.17px;
  height: 20px;
  gap: 20px;
}
